<!DOCTYPE html>
<html>
    <head>
      {# Set character encoding for the document #}
      <meta charset="UTF-8">
      {# Instruct Internet Explorer to use its latest rendering engine #}
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      {# Viewport for responsive web design #}
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% block meta_description %}
        <meta name="description" content="Bienvenue sur le site communautaire de figure acrobatique de Snowboard.">
      {% endblock %}

      <title>
        {% block title %}
          Snowtricks
        {% endblock %}
      </title>
      {% block stylesheets %}
        {# CDN #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        {# BUILDIN CSS #}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
      {% endblock %}
    </head>

    <body>

      {# MENU #}
      <menu>
        {% block menu %}
          <a href="{{ path('index') }}">Accueil</a>

          {% if is_granted('ROLE_USER') %}
            <a href="{{ path('add_trick') }}">Ajouter une figure</a>
          {% endif %}

          {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('register') }}">S'enregistrer</a>
            <a href="{{ path('login') }}">Se connecter</a>
          {% endif %}

          {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <a href="{{ path('logout') }}">Se déconnecter</a>
          {% endif %}

          {% if is_granted('ROLE_USER') %}
            <img src="{{ asset(app.user.avatar.url) }}">
          {% endif %}

        {% endblock %}
      </menu>

      {# FLASH #}
      {% for type, messages in app.session.flashbag.all %}
        <div class="alert alert-{{ type }}">
          {% for message in messages %}
            <p>{{ message }}</p>
          {% endfor %}
        </div>
      {% endfor %}

      {# Children Content #}
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>

      <footer>
        JHD © 2017
      </footer>

      {# Ajax Loading Screen #}
      <div class="loader"></div>

      {% block javascripts %}
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="{{ asset('js/ajax_loading_screen.js') }}"></script>
      {% endblock %}
    </body>
</html>
