<!DOCTYPE html>
<html>
    <head>
      {# Set character encoding for the document #}
      <meta charset="UTF-8">
      {# Instruct Internet Explorer to use its latest rendering engine #}
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      {# Viewport for responsive web design #}
      <meta name="viewport" content="width=device-width, initial-scale=1">

      {% block meta_description %}
        <meta name="description" content="Bienvenue sur le site communautaire de figure acrobatique de Snowboard.">
      {% endblock %}

      <title>
        {% block title %}
          Snowtricks
        {% endblock %}
      </title>

      {% block stylesheets %}
        {# CDN BOOTSTRAP #}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        {# FONT AWESOME #}
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">

        {# BUILDIN CSS #}
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/media-queries.css') }}">
      {% endblock %}
    </head>

    <body>

      <header>
        <div class="logo">
          <a href="{{ path('index') }}">
            <img src="{{ asset('img/logo_snowtricks.png') }}" alt="snowtricks">
          </a>
        </div>

        {# MENU #}
        <menu>
          {% block menu %}
            <a href="{{ path('index') }}">Accueil</a>

            {% if is_granted('ROLE_USER') %}
              <a href="{{ path('add_trick') }}">Ajouter une figure</a>
            {% endif %}

            {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <a href="{{ path('register') }}">S'inscrire</a>
              <a href="{{ path('login') }}">Se connecter</a>
            {% endif %}

            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
              <a href="{{ path('logout') }}">Se déconnecter</a>
              <a href="{{ path('profile') }}">Modifier mon profil</a>
            {% endif %}

            {% if is_granted('ROLE_USER') %}
              <div class="user-module">
                <img src="{{ asset(app.user.avatar.url) }}">
                <div class="username">{{ app.user.firstName }} {{ app.user.lastName }}</div>
              </div>
            {% endif %}

          {% endblock %}
        </menu>
      </header>

      {# FLASH #}
      <div class="content-flash">
        {% for type, messages in app.session.flashbag.all %}
          <div class="alert alert-{{ type }}">
            {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        {% endfor %}
      </div>

      {# CONTENT #}
      {% block content %}
      {% endblock %}

      {# FOOTER #}
      <div class="footer">
          JHD © 2017
      </div>

      {# Ajax Loading Screen #}
      <div class="loader"></div>

      {% block javascripts %}
        {# CDN JQUERY #}
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>

        {# CDN BOOTSRAP #}
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        {# BUILDIN JS #}
        <script src="{{ asset('js/ajax_loading_screen.js') }}"></script>
      {% endblock %}
    </body>
</html>
