{% extends "base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}

  {# Lightbox css #}
  <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}">
{% endblock %}

{% block content %}
  <section class="section-figure">
    <div class="content content-full">
      <div class="large-form">
        {# FORM #}
        <h1>Edition d'une figure</h1>

        <div><button class="btn btn-default" onclick="openModal('lib')">Editer les images</button></div>

        {{ include('form.html.twig', {'form': form}) }}

      </div>
    </div>
  </section>

  <div id="libModal" class="modal fade" role="dialog">
    <div class="modal-content">

      {{ include('lib_image.html.twig', {'trick': trick}) }}

    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script
      src="{{ asset('js/edit_video_form_adder.js') }}">
  </script>
  <script
      src="{{ asset('js/lightbox.js') }}">
  </script>
{% endblock %}
