{% extends "base.html.twig" %}

{#{% form_theme form 'image_file_widget.html.twig' %}#}

{% block content %}
  <section class="section-figure">
    <div class="content content-full">
      <div class="large-form">
        {# FORM #}
        <h1>Edition d'une figure</h1>
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-default">Envoyer</button>
        {{ form_end(form) }}
      </div>
    </div>
  </section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous">
  </script>
  <script
      src="{{ asset('js/edit_video_form_adder.js') }}">
  </script>
{% endblock %}
