{% extends "base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}

  {# Lightbox css #}
  <link rel="stylesheet" href="{{ asset('css/lightbox.css') }}">
{% endblock %}

{% block content %}
  <section class="section-figure">
    <div class="content content-full">
      <div class="large-form">
        {# FORM #}
        <h1>Edition de la figure : {{ trick.name }}</h1>

        <div class="form-group">
          <button class="btn btn-default" data-toggle="modal" data-target="#libModal">Gérer les images</button>
          <button class="btn btn-default" data-toggle="modal" data-target="#libVidModal">Gérer les vidéos</button>
        </div>

        {{ include('form.html.twig', {'form': form}) }}

      </div>
    </div>
  </section>

  <div id="libModal" class="modal fade" role="dialog">
    <div class="modal-content">
      {{ include('lib_image.html.twig', {'trick': trick}) }}
    </div>
  </div>

  <div id="libVidModal" class="modal fade" role="dialog">
    <div class="modal-content">
      {{ include('lib_video.html.twig', {'trick': trick}) }}
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/lightbox.js') }}"></script>
  <script src="{{ asset('js/image.js') }}"></script>
  <script src="{{ asset('js/video.js') }}"></script>
{% endblock %}
