{% extends "base.html.twig" %}

{% block content %}
  {# LISTE DES FIGURES #}
  <ul>
    {% for trick in tricks %}

      {# NOM #}
      <li>{{ trick.name }}</li>
      <li>{{ trick.group.name }}</li>
      <li><a href="{{ path('trick', {'id': trick.id}) }}">Voir le détail</a></li>

      {# IMAGES #}
      <ul>
        {% for image in trick.trickImages %}
          <li><img src="{{ asset(image.url) }}"></li>
        {% endfor %}
      </ul>

      {# VIDEOS #}
      <ul>
        {% for video in trick.videos %}
          <li>{{ video.sourceId }}</li>
        {% endfor %}
      </ul>

    {% endfor %}
  </ul>

{% endblock %}