{# LISTE DES FIGURES #}
{% for trick in tricks %}

<div class="trick-item"
    {% for image in trick.trickImages %}
      {% if loop.first %}
        style="background: url('{{ asset(image.url) }}') no-repeat;background-size: cover;background-position: top 20% left 20%"
      {% endif %}
    {% endfor %}
>

  {# INFO #}
  <div class="info">
    {# NOM #}
    <div class="name">
      <a href="{{ path('trick', {'id': trick.id}) }}">
        {{ trick.name }}
      </a>
    </div>

    {# GROUPE #}
    <div class="group">
      <span>{{ trick.group.name }}</span>
    </div>
  </div>

  {% if is_granted('ROLE_USER') %}
    <div class="actions">
      {# EDIT #}
      <div class="edit">
        <a href="{{ path('edit_trick', {'id': trick.id}) }}">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </a>
      </div>

      {# DELETE - TODO Modal for confirmation or action confirmation #}
      <div class="delete">
        <a href="{{ path('delete_trick', {'id': trick.id}) }}">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  {% endif %}
</div>

{% endfor %}
