{% extends "base.html.twig" %}

{% block content %}
  <p><a href="{{ path('index') }}">< Retour à la liste</a></p>

  {# FIGURE #}
  <ul>
      {# NOM #}
      <li>{{ trick.name }}</li>
      <li>{{ trick.group.name }}</li>

      {% if is_granted('ROLE_USER') %}
        <li><a href="{{ path('edit_trick', {'id': trick.id}) }}">Editer</a></li>
        <li><a href="{{ path('delete_trick', {'id': trick.id}) }}">Supprimer</a></li>
      {% endif %}
      
      {# IMAGES #}
      <ul>
        {% for image in trick.trickImages %}
          <li><img src="{{ asset(image.url) }}"></li>
        {% endfor %}
      </ul>

      {# VIDEOS #}
      <div>
        {% for video in trick.videos %}
          <div>
            {# YOUTUBE #}
            {% if video.sourceId|length == 11 %}
              <iframe
                  frameborder="0"
                  width="560"
                  height="315"
                  src="https://www.youtube.com/embed/{{ video.sourceId }}"
                  allowfullscreen>
              </iframe>
            {# DAILYMOTION #}
            {% elseif video.sourceId|length == 7 %}
              <iframe
                  frameborder="0"
                  width="560"
                  height="315"
                  src="//www.dailymotion.com/embed/video/{{ video.sourceId }}"
                  allowfullscreen>
              </iframe>
            {% else %}
              <p>L'ID de la vidéo n'a pas le bon format.</p>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      {# POSTS #}
      <div>

        {# FORM #}
        {% if is_granted('ROLE_USER') %}
          <div id="post_form">
            <div>Poster un message</div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="hidden" name="trick_id" id="trick_id" value="{{ trick.id }}">
            <button type="submit" id="post">Poster</button>
            {{ form_end(form) }}
          </div>
          <div id="new_post">
          </div>
        {% else %}
          <p>Vous devez vous <a href="{{ path('login') }}">identifier</a> pour écrire un message.</p>
        {% endif %}

        {# POST LIST #}
        {% if posts is empty %}
          <p id="no_post">Il n'y a pas encore de message.</p>
        {% else %}
          {% for post in posts %}
            {{ include('post.html.twig', {'post': post}) }}
          {% endfor %}
        {% endif %}
      </div>
  </ul>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('js/post.js') }}"></script>
{% endblock %}
